.ant-carousel .slick-slide {
  overflow: hidden;
  /* background-color: #00f; */
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-carousel .slick-dots li.slick-active button {
  width: 6px;
  height: 6px;
  background-color: #00f;
  opacity: 0.8;
}
.ant-carousel .slick-dots li button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.2;
}
.navList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navItem {
  width: 25%;
  padding: 10px 15px 0;
  font-size: 12px;
  text-align: center;
}
.navItem img {
  width: 100%;
  height: 40px;
}
.navItem p {
  height: 24px;
  line-height: 24px;
  margin-block-end: 0;
}
/* 推荐商家 */
.business .title {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.business .title::before {
  display: inline-block;
  width: 20px;
  height: 100%;
  line-height: 40px;
  margin-right: 10px;
  color: #999;
  content: '——';
}
.business .title::after {
  display: inline-block;
  width: 20px;
  height: 100%;
  line-height: 40px;
  margin-left: 10px;
  color: #999;
  content: '——';
}
.business .businessItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.business .businessItem .businessPic{
  width: 55px;
  height: 55px;
  float: left;
  margin-right:10px;
}
.business .businessItem .businessItemInfo{
  float: left;
}
.businessItemInfo .shopIcon{
  padding:0 3px;
  background-color: yellow;
  margin-right:5px;
}
.businessItemInfo .ant-rate{
  font-size: 10px;
}
.businessItemInfo .score{
  margin:5px;
}
.footer{
  position: fixed;
  bottom:0;
  left:0;
  background-color: #fff;
}